@model IEnumerable<EasyBoni.Models.Restaurant>

@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            @Html.DisplayFor(modelItem => item.Name)

            @Html.Partial("_RatingPartial", item)
        </div>
        <div class="panel-body">
            <address class="text-muted">@Html.DisplayFor(modelItem => item.Address)</address>

            <div class="price-container pull-left">
                Price: <span class="price text-primary">@Html.DisplayFor(modelItem => item.Price)</span>
            </div>
        </div>
    </div>
}