@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EasyBoni</h1>
    <p class="lead">Slovenian Student Meals System web application implemented in ASP.NET MVC.</p>
    <p><a href="https://github.com/marian-r/easy-boni-aspnet" class="btn btn-primary btn-lg">Source code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC 5</h2>
        <p>
            ASP.NET MVC gives you a powerful way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable development.
        </p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Entity Framework</h2>
        <p>Entity Framework is Microsoft’s recommended data access technology for new applications.</p>
        <p><a class="btn btn-default" href="http://msdn.microsoft.com/data/ef.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Micorost Azure is a perfect place to host your ASP.NET web applications with an excellent support in Miscrosoft Visal Studio.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com/">Learn more &raquo;</a></p>
    </div>
</div>